/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0,0,0;
    --foreground-rgb-muted: rgba(241, 245, 249, 0.6);
    --background-start-rgb: 36, 36, 36;
    --background-end-rgb: 105, 105, 105;
    --background-end-rgba0: rgba(100, 100, 100, 0.4);
    --highlight-text-start-hex: #ed479a;
    --highlight-text-end-hex: #8b5cf6;
    --highlight-text-end-rgba0: rgba(139, 92, 246, 0.4);
    --highlight-text-end-rgba1: rgba(139, 92, 246, 0.3);
    --highlight-text-end-rgba2: rgba(139, 92, 246, 0.2);
    --highlight-text-end-rgba3: rgba(139, 92, 246, 0.1);
    --highlight-text-end-rgba4: rgba(139, 92, 246, 0.05);
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.rainbow-background {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%);
}

@layer utilities {
  .first-section {
    @apply mx-auto pb-16 !pt-[126px] px-8 flex flex-col items-center;
  }

  .second-section {
    @apply pb-16 !pt-[64px] flex flex-col sm:mb-16;
  }

  .custom-scrollbar {
    /* scrollbar-color: var(--highlight-text-start-hex) var(--highlight-text-end-hex); */
    scrollbar-width: thin;
  }

  .title-color {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[var(--highlight-text-start-hex)] to-[var(--highlight-text-end-hex)];
  }

  .title-text {
    @apply 2xl:text-8xl xl:text-7xl md:text-3xl sm:text-2xl font-semibold title-color leading-none;
  }

  .subtitle-text {
    @apply font-semibold 2xl:text-2xl xl:text-lg md:text-sm sm:text-base relative;
  }

  .cartridge-title-text {
    @apply font-semibold sm:text-4xl text-xl relative title-color;
  }


  .games-list {
    @apply flex flex-wrap ms-[148px] mb-24;
  }

  .games-list-item {
    @apply p-4 text-center bg-gray-400 hover:games-list-selected-item;
  }

  .games-list-selected-item {
    @apply bg-gradient-to-r from-yellow-100 to-pink-300;
  }

  .fallback-bg-color {
    @apply bg-[rgb(var(--foreground-rgb))];
  }

  .game-list-fallback-animation {
    @apply w-auto px-4 py-4 border-l-2 border-l-[var(--highlight-text-end-hex)];
  }

  .game-list-fallback-animation > div {
    @apply h-4 w-48 rounded fallback-bg-color;
  }

  .game-option-tabs-header {
    @apply flex space-x-1 bg-gray-400 bg-opacity-40 p-1;
  }

  .game-tabs-option {
    @apply w-full py-2.5 text-sm;
  }

  .game-tabs-option-text {
    @apply flex justify-center items-center;
  }

  .game-tabs-option-text > span {
    @apply ms-1;
  }

  .game-tabs-option-unselected {
    @apply game-tabs-option hover:bg-gray-400;
  }

  .game-tabs-option-selected {
    @apply game-tabs-option bg-gray-400;
  }

  .game-tab-content {
    @apply p-3 bg-gray-400;
  }

  .muted-text {
    @apply text-[var(--foreground-rgb-muted)];
  }

  .scoreboard-btn {
    @apply hover:text-[var(--highlight-text-end-hex)];
  }

  .header {
    @apply w-full h-16 bg-[var(--highlight-text-end-hex)] flex absolute top-0 z-10;
  }

  .footer {
    @apply w-full h-16 bg-[var(--highlight-text-end-hex)] flex justify-center items-center absolute bottom-0;
  }

  .link-active {
    @apply bg-[rgb(var(--background-start-rgb))] text-white;
  }

  .navbar-item {
    @apply px-6 hover:bg-[rgb(var(--background-start-rgb))] hover:text-white;
  }

  .btn {
    @apply p-3 bg-[var(--highlight-text-end-hex)] border border-[var(--highlight-text-end-hex)] hover:bg-[rgb(var(--background-start-rgb))] hover:text-[var(--highlight-text-end-hex)];
  }

  .btn:disabled,
  .btn[disabled]{
    opacity: 70%;
    cursor: not-allowed;
  }

  .gameplay-screen {
    @apply w-[640px] h-[480px] md:w-[720px] md:h-[540px] lg:w-[960px] lg:h-[720px];
  }

  .gameplay-section {
    @apply gameplay-screen fixed z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .vertical-option-tabs-header {
    @apply flex flex-col space-y-1 bg-gray-400 bg-opacity-40 p-1;
  }
}
