/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --foreground-rgb-muted: rgba(0, 0, 0, 0.6);
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-end-rgba0: rgba(255, 255, 255, 0.4);
    --highlight-text-start-hex: #ed479a;
    --highlight-text-end-hex: #8b5cf6;
    --highlight-text-end-rgba0: rgba(139, 92, 246, 0.4);
    --highlight-text-end-rgba1: rgba(139, 92, 246, 0.3);
    --highlight-text-end-rgba2: rgba(139, 92, 246, 0.2);
    --highlight-text-end-rgba3: rgba(139, 92, 246, 0.1);
    --highlight-text-end-rgba4: rgba(139, 92, 246, 0.05);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 241, 245, 249;
      --foreground-rgb-muted: rgba(241, 245, 249, 0.6);
      --background-start-rgb: 36, 36, 36;
      --background-end-rgb: 105, 105, 105;
      --background-end-rgba0: rgba(100, 100, 100, 0.4);
    }
  }
  :root[data-theme="dark"] {
    --foreground-rgb: 241, 245, 249;
    --foreground-rgb-muted: rgba(241, 245, 249, 0.6);
    --background-start-rgb: 36, 36, 36;
    --background-end-rgb: 105, 105, 105;
    --background-end-rgba0: rgba(100, 100, 100, 0.4);
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) fixed;
}


body {
  font-family: "Work Sans", sans-serif;
}

.link-2step-hover {
  background-image: linear-gradient(to right, var(--highlight-text-start-hex), var(--highlight-text-end-hex));
  background-size: 200% .1em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size, background-position .3s;
}
.link-2step-hover:hover {
  transition: background-size, background-position .3s;
  background-position: 100% 100%;
}

.link-active {
  background-image: linear-gradient(to right, var(--highlight-text-start-hex), var(--highlight-text-end-hex));
  background-size: 200% .1em; /* .08em is our fixed height, use what you want  */
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.hover-2 {
  --c: var(--highlight-text-end-hex); /* the color */
  --b: .1em;    /* border length*/
  --d: 16px;    /* the cube depth */

  --_s: calc(var(--d) + var(--b));
  background:
    conic-gradient(at left var(--d) bottom var(--d),
    #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s), #0000 180deg, var(--c) 0) border-box;
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path:
    polygon(
     var(--d) 0%,
     var(--d) 0%,
     100% 0%,
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}

.hover-2-selected {
  background:
  conic-gradient(at left var(--d) bottom var(--d),
  #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
  conic-gradient(at left var(--_s) bottom var(--_s),
  #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;

  transform: translate(0,0);
  clip-path:
    polygon(
     0% var(--d),
     var(--d) 0%,
     100% 0%,
     100% calc(100% - var(--d)),
     calc(100% - var(--d)) 100%,
     0% 100%
   );
}

.hover-2:hover {
  background:
  conic-gradient(at left var(--d) bottom var(--d),
  #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
  conic-gradient(at left var(--_s) bottom var(--_s),
  #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;

  transform: translate(0,0);
  clip-path:
    polygon(
     0% var(--d),
     var(--d) 0%,
     100% 0%,
     100% calc(100% - var(--d)),
     calc(100% - var(--d)) 100%,
     0% 100%
   );
}


.custom-shadow {
  /* box-shadow: rgba(139, 92, 246, 0.4) -5px 5px,
    rgba(139, 92, 246, 0.3) -10px 10px,
    rgba(139, 92, 246, 0.2) -15px 15px,
    rgba(139, 92, 246, 0.1) -20px 20px,
    rgba(139, 92, 246, 0.05) -25px 25px; */
  box-shadow: var(--highlight-text-end-rgba0) -5px 5px,
    var(--highlight-text-end-rgba1) -10px 10px,
    var(--highlight-text-end-rgba2) -15px 15px,
    var(--highlight-text-end-rgba3) -20px 20px,
    var(--highlight-text-end-rgba4) -25px 25px;
  margin-bottom: 24px;
}




/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  /* padding: 18px 18px 17px; */
  @apply p-5 rounded-md border border-current;
  text-decoration: none;
  cursor: pointer;
  /* background: #fff; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  /* color: white; */
  color: rgb(var(--foreground-rgb));
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  font-size: 60%;
}

.button-57:disabled,
.button-57[disabled]{
  opacity: 50%;
  cursor: not-allowed;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-text-end-hex);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@layer utilities {

  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .first-section {
    @apply mx-auto md:p-16 pb-12 !pt-[126px] px-8 h-svh flex flex-col items-center max-w-screen-lg;
  }

  .second-section {
    @apply mx-auto md:p-16 pb-12 !pt-[126px] px-8 h-svh flex flex-row;
  }

  .custom-scrollbar {
    /* scrollbar-color: var(--highlight-text-start-hex) var(--highlight-text-end-hex); */
    scrollbar-width: thin;
  }

  .title-color {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[var(--highlight-text-start-hex)] to-[var(--highlight-text-end-hex)];
  }

  .title-text {
    @apply 2xl:text-8xl xl:text-7xl md:text-3xl sm:text-2xl font-semibold title-color leading-none;
  }

  .subtitle-text {
    @apply font-semibold 2xl:text-2xl xl:text-lg md:text-sm sm:text-base relative;
  }

  .cartridge-title-text {
    @apply font-semibold sm:text-4xl text-xl relative title-color;
  }

  .games-list-item {
    @apply sm:w-auto px-4 py-2 grow break-all text-start hover-2;
  }

  .games-list-selected-item {
    @apply hover-2-selected;
  }

  .fallback-bg-color {
    @apply bg-[rgb(var(--foreground-rgb))];
  }

  .game-list-fallback-animation {
    @apply w-auto px-4 py-4 border-l-2 border-l-[var(--highlight-text-end-hex)];
  }

  .game-list-fallback-animation > div {
    @apply h-4 w-48 rounded fallback-bg-color;
  }

  .game-option-tabs-header {
    @apply flex space-x-1 rounded-xl bg-[rgb(var(--background-start-rgb))] p-1;
  }

  .game-tabs-option {
    @apply w-full rounded-lg py-2.5 text-sm font-medium leading-5 ring-[var(--highlight-text-end-hex)] focus:ring-4;
  }

  .game-tabs-option-text {
    @apply flex justify-center items-center;
  }

  .game-tabs-option-text > span {
    @apply ms-1;
  }

  .game-tabs-option-unselected {
    @apply game-tabs-option text-[rgb(var(--foreground-rgb))] hover:bg-[var(--background-end-rgba0)] hover:text-[var(--highlight-text-end-hex)];
  }

  .game-tabs-option-selected {
    @apply game-tabs-option bg-[rgb(var(--background-end-rgb))] text-[var(--highlight-text-end-hex)] shadow;
  }

  .game-tab-content {
    @apply rounded-xl bg-[rgb(var(--background-end-rgb))] p-3;
  }


  .web3-connect-btn {
    @apply rounded text-sm p-2 shadow-sm shadow-current;/*bg-gradient-to-r from-[var(--highlight-text-start-hex)] to-[var(--highlight-text-end-hex)];*/
  }

  .web3-connect-btn:hover {
    @apply text-[var(--highlight-text-end-hex)] shadow-[var(--highlight-text-end-hex)];
  }

  .muted-text {
    @apply text-[var(--foreground-rgb-muted)];
  }

  /* .leaderboard-card {
    @apply p-2 bg-[rgb(var(--background-start-rgb))] mb-3 rounded-md transition delay-150 duration-300 ease-in-out hover:scale-105;
  } */





  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply max-w-screen-lg sm:px-16 px-8 py-4 mx-auto flex justify-between items-center absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-3xl max-md:text-center;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}
